<section>
    <div class="container">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-xl-12 col-md-12" id="show-orders">



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/orderUserAjax.js"></script>